// colors
$primary: #2e69ff;
$primary-hover: #2554cc;
$background-color: #eee;
$white: #fff;
$text-primary: #2c3345;
$text-secondary: #57647e;

// tokens
$border-radius: 4px;
$default-border: 1px solid #c3cad8;

$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 24px;

$font-weight-bold: 600;
$font-weight-bolder: 700;

$field-height: 32px;
