@import '_globals';
@import '_mixins';

.formInput {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;

  label {
    color: $text-secondary;
    font-size: $font-size-s;
    margin-left: 2px;
    margin-bottom: 4px;
  }

  input {
    border-radius: $border-radius;
    border: $default-border;
    color: $text-primary;
    font-size: $font-size-m;
    height: $field-height;
    padding: 0 8px;

    &:hover {
      border-color: $primary-hover;
    }

    &:active,
    &:focus {
      border-color: $primary;
      outline: none;
    }
  }
}
