@import '_globals';
@import '_mixins';

.layout {
  background-color: $background-color;
  height: 100%;

  nav {
    align-items: center;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    padding: 12px 32px;
    height: 64px;
    position: fixed;
    left: 0;
    right: 0;
  }

  main {
    padding: 76px 32px 48px 32px;
  }
}

.links {
  align-items: center;
  display: flex;

  a {
    margin-right: 20px;

    &:first-of-type {
      margin-left: 20px;
    }
  }
}

.logout {
  @include buttonPrimary;

  background-color: $text-secondary;
  color: $white;

  &:hover {
    background-color: $text-primary;
  }
}

.activeLink {
  color: $primary;
  font-weight: $font-weight-bold;
}
