@import '_globals';
@import '_mixins';

.form {
  align-items: center;
  border: $default-border;
  border-radius: $border-radius;
  background-color: $white;
  display: flex;
  flex-direction: column;

  padding: 20px;
  width: 480px;

  button {
    @include buttonPrimer;

    align-self: stretch;
    margin-top: 8px;
  }
}

.formInput {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;

  input {
    border-radius: $border-radius;
    border: $default-border;
    color: $text-primary;
    height: $field-height;
    font-size: $font-size-m;
    padding: 0 8px;
  }
}
