@import '_globals';

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-top: 12px;
  height: 100%;

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    grid-template-columns: 1fr;
  }
}

.post {
  background-color: $white;
  cursor: pointer;
  border-radius: $border-radius;
  border: $default-border;
  display: flex;
  flex-direction: column;
  padding: 12px;

  &:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  }
}
