@import '_globals';
@import '_mixins';

.root {
  align-items: stretch;
  background-color: $white;
  padding: 24px;
  border: $default-border;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 480px;

  button:last-of-type {
    @include buttonPrimer;

    align-self: flex-end;
    margin-top: 8px;
  }
}

.close {
  position: absolute;
  top: 0;
  right: 0;

  background-color: transparent;
  border: none;
  height: 32px;
  width: 32px;
}
