@import '_globals';

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-top: 12px;

  @media only screen and (min-width: 320px) and (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}

.user {
  border: $default-border;
  border-radius: $border-radius;
  background-color: $white;
  display: flex;
  flex-direction: column;
  padding: 12px;

  &:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  }

  div:first-of-type {
    display: flex;
    justify-content: space-between;
  }

  div:first-of-type span:first-of-type {
    color: $text-primary;
    font-weight: $font-weight-bolder;
  }

  & div:last-of-type {
    display: flex;
    margin-top: 4px;
    font-size: 14px;
    color: #555;

    span:first-of-type {
      margin-right: 12px;
      padding-right: 12px;
      border-right: $default-border;

      @media only screen and (max-width: 1024px) {
        border: none;
      }
    }

    @media only screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }

  // div:last-of-type
}

.userId {
  color: #555;
  font-weight: 500;
}
