@import '_globals';
@import '_mixins';

.form {
  border: $default-border;
  border-radius: $border-radius;
  background-color: $white;
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin-top: 12px;

  section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;

    @media only screen and (min-width: 320px) and (max-width: 480px) {
      grid-template-columns: 1fr;
    }

    @media only screen and (min-width: 480px) and (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  button {
    @include buttonPrimer;

    align-self: flex-end;
    margin-top: 8px;
  }
}
